/**
 * General Styles
 */
body {
	font-size: 1.4em;
}

.path-frontpage h1.page-header {
	display: none;
}

/**
 * Header Styles
 */
@media all and (min-width: 768px) {
	ul.menu--main {
		float: right;
	}
}

/**
 * Footer Styles
 */

.footer ul.menu--footer {
	text-align: center;
}

.footer ul.menu--footer li {
 	display: inline-block;
}

.footer ul.menu--footer li a {
	color: #000;
	font-size: 1.5em;
}

.footer {
	border: 0;
}

.region-footer {
	background: #f8f8f8;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	padding: 35px 0;
}