/**
 * General Styles
 */
body {
	font-size: 1.4em;
}

.path-frontpage h1.page-header {
	display: none;
}

ul.menu--main li a,
ul.menu--account li a {
	text-transform: uppercase;
}

.region-content p {
	font-size: 1.5em;
}

/**
 * Header Styles
 */
@media all and (min-width: 768px) {
	ul.menu--main {
		float: right;
	}

	ul.menu--main li a,
	ul.menu--account li a {
		font-size: 26px;
	}

	ul.menu--main li a::after {
		content: "";
	    display: block;
	    /* height: 50%; */
	    border-right: 1px solid black;
	    position: relative;
	    left: 14px;
	    top: -18px;
	}
}

/**
 * Footer Styles
 */

.footer ul.menu--footer {
	text-align: center;
}

.footer ul.menu--footer li {
 	display: inline-block;
}

.footer ul.menu--footer li a {
	color: #000;
	font-size: 1.5em;
}

.footer {
	border: 0;
}

.region-footer {
	background: #f8f8f8;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	padding: 35px 0;
}